@media (min-width: 576px){
    .vis_box{
        margin-bottom: 250px;
    }
}


.main_background{
    background-color: black;
}

.main_background2{
    background-color: rgb(165, 164, 164);
}

.row_background{
    background-color: teal;
}

.subtitle_color{
    color:teal
}

.home_description_title {
    color: gainsboro;
}

.home_description {
    color: lightgray
} 

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}