@media (min-width: 576px){
    .vis_box{
        margin-bottom: 250px;
    }
}


/* On mouse hover, lighten state color */
path:hover {
	fill-opacity: .7;
}

path.feature {
    stroke-width: 0.75px;
    stroke: #fff;
    fill: #a6bddb;
    cursor: pointer;
}

.map-div {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}