<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Project 2</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="static/style.css">

</head>

<body>

<!-- The div that holds our map -->


  <div id = "home_c1" class="container-fluid p-3 main_background">
    <div class="row">
      <div class="col-6 mt-4 mb-4 text-center">
        <figure class="figure">
          <img src="https://images.unsplash.com/photo-1544551763-77ef2d0cfc6c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" class="figure-img img-fluid" alt="...">
          <figcaption class="figure-caption text-left home_imagetag">Fig.1 Image sourced from https://earth.nullschool.net/</figcaption>
        </figure>
      </div>
      <div class="col my-auto mr-5 pr-5 text-left">
        <p class = " h2 home_description_title" style="font-size:3vw;">Fish Info</p>
        <p class = "text-justify home_description" style="font-size:1.2vw;">    
          The EnvImpact project was undertaken through the University of Denver's
          Data Science Bootcamp.  
        </p>
        <p class = "text-justify home_description" style="font-size:1.2vw;">
          This app was created using Python, Flask, JavaScript, HTML, and MongoDB.  
        </p>
      </div>
    </div>
  </div>
  <div id = "home_c2" class="container-fluid p-3 main_background">
    <div id = "map_row" class="row flex-fill ml-4 mr-4 row_background">
      <div id = "container" class=" svg-container col-12 pt-4 pb-4 mr-4 mb-4 mb-md-1 row_background">
      </div>
    </div>
    <div class="col-12 d-flex flex-column pt-3 home_description">
    </div>
  </div>



<!-- Footer-->
  <div id="footer">
    <p>The Coding Boot Camp&copy;2016</p>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
  <script src="http://d3js.org/topojson.v1.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript" src="static/app.js"></script>

</body>

</html>